.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text{
  color: rgba(47, 47, 47, 0.94);
}
.question {
  color: rgba(65, 65, 65, 0.58);
}
.answer{
  color: rgb(89, 88, 88);;
  font-weight: 500;
}
.aman{
  font-weight: 700;
  font-size: 22px;
  position: relative;
}
.aman:before{
  position: absolute;
  content: 'aman$oft';
  font-weight: 700;
  font-size: 22px;
  left: 0.4%;
  top: 15%;
  color: rgba(79, 79, 79, 0.43);
  transform:  rotateX(70deg) ;
}
.svg{
  width: 15px;
  height: 15px;
  margin: 0 4px;
}